<article>
  <ul class='labels'>
    <% issue.labels.each do |label| %>
      <li>
        <span class='label' style='background-color: <%= label.color %>;'>
          <%= label.name %>
        </span>
      </li>
    <% end %>
  </ul>
  <h4>
    <a href="<%= issue.url %>" target="_blank"><%=  issue.title %></a>
  </h4>
  <h5 class="subheader">
    <a class="repo" href="http://github.com/<%= issue.repo %>"> <%= issue.repo %> </a>
  </h5>
  <% unless issue.body.nil? %>
    <div class="body">
      <%= issue.body %>
    </div>
  <% end %>
    <div class="details row">
      <% if issue.comments > 0 %>
      <span class="small-6 columns text-left">
        Updated <%= issue.updated_at %>
      </span>
      <span class="small-6 columns text-right">
        <%= issue.comments %> Comments
      </span>
      <% else %>
        <span class="columns text-left">
          Updated <%= issue.updated_at %>
        </span>
      <% end %>
    </div>
</article>
