<form class="search-box" action="/" method="get">
  <div class="row">
    <div class="form-group">
      <input class="query" type="text" name="query" placeholder="Search project by name"/>
      <input class="submit-button" type="submit" value="Search"/>
    </div>
  </div>
  <div class="row">
    <div class="form-group cut">
      <% @tags.each do |tag| %>
        <input type="checkbox"
               class="tag"
               name="label[]"
               id="<%=tag%>"
               value="<%=tag%>"
               <%= is_selected?("security") %>
               />
               <label class="tag label" for="<%=tag%>">
                 <%=tag%>
               </label>
      <% end %>
    </div>
  </div>
</form>
