<%= erb :_search %>
<div id="issues">
  <div class="row">
    <% if @issues.any? %>
      <%= erb :_pagination %>
      <% slice = @issues.count >= 3 ? @issues.count/3 : 1 %>
      <% @issues.each_slice(slice).each do |issues| %>
        <div class="medium-4 columns issues">
          <% issues.each do |issue| %>
            <%= erb :_issue, locals: { issue: issue } %>
          <% end %>
        </div>
      <% end %>
      <br/>
      <div class="clearfix"></div>
      <%= erb :_pagination %>
    <% else %>
      <div class="large-12 medium-12 columns text-center">
        <div class="empty">
          <span class="message">
            <% if @message %>
              <%= @message %>
            <% else %>
              There are no issues matching your search.
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
