<div id="issues">
  <div class="row">
    <%= erb :_search %>
  </div>
  <div class="row">
    <% if @issues.any? %>
      <%= erb :_pagination %>
      <% slice = @issues.count >= 3 ? @issues.count/3 : 1 %>
      <% @issues.each_slice(slice).each do |issues| %>
        <div class="medium-4 columns issues">
          <% issues.each do |issue| %>
            <%= erb :_issue, locals: { issue: issue } %>
          <% end %>
        </div>
      <% end %>
      <br/>
      <div class="clearfix"></div>
      <%= erb :_pagination %>
    <% else %>
      <div class="large-12 medium-9 columns">
        <% if @message %>
          <%= @message %>
        <% else %>
          There are no issues matching your criteria
        <% end %>
      </div>
    <% end %>
  </div>
</div>
