<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Contribute to Open Source. Search issue labels to find the right project for you!">
    <meta name="keywords" content="search github issues, contribute to open source, label issues" />

    <title>issuehub.io</title>

    <%# <link type="text/css" rel="stylesheet" href="<%= url("css/foundation.min.css") %1>" /> %>
    <link rel="icon" type="image/x-icon" href="<%= url("images/favicon.png") %>" />
    <link type="text/css" rel="stylesheet" href="<%= url("css/github.css") %>" />
    <link type="text/css" rel="stylesheet" href="<%= url("css/style.css") %>" />
    <link type="text/css" rel="stylesheet" href="<%= url("css/style-small.css") %>" />
    <script type="text/javascript" src="<%= url("js/jquery.js") %>"></script>
    <script type="text/javascript" src="<%= url("js/application.js") %>"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1610727566307991",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body>
    <%# <header> %>
    <%# <div class="row"> %>
    <%#   <div class="large-6 columns"> %>
    <%#     <div class="brand"><a href="/">issuehub.io</a></div> %>
    <%#     <span class="show-for-medium-up">Contribute to Open Source. Search issue labels to find the right project for you!</span> %>
    <%#   </div> %>
    <%#   <div class="large-6 columns sign-up"> %>
    <%#     <% unless current_user %1> %>
    <%#       <a href="/auth/github?scope=public_repo,repo">Login with Github</a> %>
    <%#     <% else %1> %>
    <%#       Logged in: <a href="http://github.com/<%= nickname %1>"><%= nickname %1> </a> / <a href="/logout">Logout</a> %>
    <%#     <% end %1> %>
    <%#   </div> %>
    <%# </div> %>
    <%# </header> %>
    <div id="container">
      <%= yield %>
    </div>
    <script type="text/javascript" src="<%= url("js/analytics.js") %>"></script>
  </body>
  <footer>
  <%# <div class="row"> %>
  <%#   <div class="large-6 columns"> %>
  <%#     <ul class='inline-list footer-links'> %>
  <%#       <li>Copyright 2013-<%= Date.today.year %1></li> %>
  <%#       <li><a href='/privacy-policy'>Privacy Policy</a></li> %>
  <%#     </ul> %>
  <%#   </div> %>
  <%#   <div class="large-6 columns text-right"> %>
  <%#     by <a href="http://github.com/despo">despo</a> %>
  <%#   </div> %>
  <%# </div> %>
  </footer>
</html>
