<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Contribute to Open Source. Search issue labels to find the right project for you!">
    <meta name="keywords" content="search github issues, contribute to open source, label issues" />

    <title>issuehub.io</title>

	<link rel="icon" type="image/x-icon" href="<%= url("images/favicon.png") %>" />
    <link type="text/css" rel="stylesheet" href="<%= url("css/github.css") %>" />
    <link type="text/css" rel="stylesheet" href="<%= url("css/foundation.min.css") %>" />
    <link type="text/css" rel="stylesheet" href="<%= url("css/style.css") %>" />
    <link type="text/css" rel="stylesheet" href="<%= url("css/style-small.css") %>" />
    <script type="text/javascript" src="<%= url("js/jquery.js") %>"></script>
    <script type="text/javascript" src="<%= url("js/application.js") %>"></script>
  </head>
  <body>
    <header>
    <div class="row">
      <div class="large-6 columns">
        <div class="brand"><a href="/">issuehub.io</a></div>
        <span class="show-for-medium-up">Contribute to Open Source. Search issue labels to find the right project for you!</span>
      </div>
      <div class="large-6 columns sign-up">
        <% unless current_user %>
          <a href="/auth/github?scope=public_repo,repo">Login with Github</a>
        <% else %>
          Logged in: <a href="http://github.com/<%= nickname %>"><%= nickname %> </a> / <a href="/logout">Logout</a>
        <% end %>
      </div>
    </div>
    </header>
    <div id="container">
      <%= yield %>
    </div>
    <script type="text/javascript" src="<%= url("js/analytics.js") %>"></script>
  </body>
  <footer>
  <div class="row">
    <div class="large-6 columns">
      Copyright 2015-2017
    </div>
    <div class="large-6 columns text-right">
      by <a href="http://github.com/despo">despo</a>
    </div>
  </div>
  </footer>
  <div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
      <a href="https://github.com/despo/issuehub.io">Fork me on GitHub</a>
    </div>
  </div>
</html>
